# Node.js
node_modules

# Build
.next
bundle-stats

# Reports
reports

# Apple stuff
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

#env
.env

# Thumbnails
._*

# Logs
*.log

/out

# Editors
.vscode
