.footer {
  background: var(--theme-background-dark);
  color: #fff;
  padding: 2em 0;
}

.footer a,
.footer a:hover,
.footer a:visited,
.footer a:focus,
.footer a:active {
  color: #fff;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4em;
}

.footer__social,
.footer__links {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
}

.footer__social li {
  display: inline;
  margin-right: 10px;
}

.footer__social img {
  height: 20px;
}
