.panel {
  background: #fff;
  border: 1px solid var(--theme-border-lighter);
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--theme-box-shadow);
  padding: 2em;
}

.panel h2:first-of-type {
  margin-top: 0;
}
