:root {
  --dark-blue: #2C3E50;
  --almost-black: #404040;
  --black: #1C1C1C;
  --light-grey: #E7E7E7;
  --grey: #DADADA;
  --dark-grey: #CDCDCD;
  --theme-primary: var(--dark-blue);
  --theme-primary-darker: var(--dark-blue);
  --theme-secondary: var(--dark-blue);
  --theme-border: var(--dark-grey);
  --theme-border-lighter: var(--grey);
  --theme-background-dark: var(--black);
  --theme-background-light: var(--light-grey);
  --theme-box-shadow: var(--grey);
  --theme-dark-text: var(--almost-black);
  --theme-background-dark-blue: var(--dark-blue);
}
