a.button,
a.button:focus,
a.button:active,
a.button:visited,
button.button,
button.button:focus,
button.button:active,
button.button:visited {
  display: inline-block;
  margin: 0 auto;
  padding: 1em 3em;
  color: #fff;
  background-color: #264491;
  border-bottom: 1px solid #323d57;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  font-family: "Evolventa", "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.25s;
}

a.button:hover,
button.button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 2em #323d57;
}

a.button:active,
.button.button:active {
  transform: translateY(1px);
  border-bottom: 0;
}
