@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source Sans Pro/SourceSansPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source Sans Pro/SourceSansPro-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source Sans Pro/SourceSansPro-It.otf");
  font-style: italic;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa/Evolventa-Bold.ttf");
  font-weight: 800;
}
